<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDF3vs52taaORusg5c5wvciGXoPtjz98Dk</string>
	<key>GCM_SENDER_ID</key>
	<string>1007242542755</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.selo.app</string>
	<key>PROJECT_ID</key>
	<string>selloa</string>
	<key>STORAGE_BUCKET</key>
	<string>selloa.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1007242542755:ios:d1a75ec5fc01f743d80916</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>app-1-1007242542755-ios-d1a75ec5fc01f743d80916</string>
</dict>
</plist>